<div class="w-full  overflow-scroll">
  <ul class="circles">
    <li *ngFor="let circle of circles" appRandPos>{{circle}}</li>
  </ul>

  <div class="z-10 overflow-y-scroll">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quas?</p>

  </div>

</div>


