<div class="container mx-auto flex flex-col items-center">
  <div>
    <p class="font-sans font-bold text-5xl max-w-2xl leading-tight">Get Started</p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 place-items-center">
    <div
      class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-2xl hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200">
      <div class="m-3">
        <h2 class="text-lg mb-2">Pick a Template
          <span
            class="text-sm text-teal-800 font-mono inline rounded-full px-2 align-top float-right animate-pulse">
            <mat-icon>looks_one</mat-icon>
          </span>
        </h2>
        <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">Choose
          from a selection of over variants and more! Plunge headlong into work :3</p>
      </div>
    </div>

    <div
      class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-2xl hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200">
      <div class="m-3">
        <h2 class="text-lg mb-2">Make it your own
          <span
            class="text-sm text-teal-800 font-mono inline rounded-full px-2 align-top float-right animate-pulse">
            <mat-icon>looks_two</mat-icon>
          </span>
        </h2>
        <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">Complete
          all your planned tasks, be the best. You are really awesome!</p>
      </div>
    </div>

    <div
      class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-2xl hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200">
      <div class="m-3">
        <h2 class="text-lg mb-2">Share it out
          <span
            class="text-sm text-teal-800 font-mono inline rounded-full px-2 align-top float-right animate-pulse">
            <mat-icon>looks_3</mat-icon>
          </span>
        </h2>
        <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">Send your
          card out by email or schedule it for the perfect and deal.</p>
      </div>
    </div>

    <div
      class="card m-2 cursor-pointer border border-gray-400 rounded-lg hover:shadow-2xl hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200">
      <div class="m-3">
        <h2 class="text-lg mb-2">Enjoy
          <span
            class="text-sm text-teal-800 font-mono inline rounded-full px-2 align-top float-right animate-pulse">
            <mat-icon>looks_4</mat-icon>
          </span>
        </h2>
        <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">Get
          positive emotions from what you do, create. love your creations.</p>
      </div>
    </div>

  </div>
</div>


