<div class="flex flex-col items-center relative">
  <div class="absolute flex flex-col top-40 gap-10 text-center">
    <p class="font-sans font-bold text-5xl max-w-2xl leading-tight">
      {{ 'What if you started to use our cool services???' | titlecase }}
    </p>
    <p class="font-sans font-bold text-4xl">{{ 'Check out our highlights' | titlecase }}</p>
  </div>

  <img class="max-w-screen-2xl rounded-xl z-[-2] opacity-25" src="https://i.ibb.co/4jSvCQG/1.png" alt="bg" />

  <div class="container lg:absolute bottom-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      <div
        class="lg:row-start-2 lg:row-span-2 m-2 cursor-pointer border border-gray-400 bg-white rounded-lg hover:shadow-md hover:bg-amber-200 hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200"
      >
        <div class="m-3">
          <h2 class="text-lg mb-2">
            <mat-icon>phone_iphone</mat-icon>
          </h2>
          <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">
            Optimized for mobile as well
          </p>
        </div>
      </div>

      <!--Card 2-->

      <div
        class="lg:row-end-3 lg:row-span-2 m-2 cursor-pointer border border-gray-400 bg-white rounded-lg hover:shadow-md hover:bg-amber-200 hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200"
      >
        <div class="m-3">
          <h2 class="text-lg mb-2">
            <mat-icon>code</mat-icon>
          </h2>
          <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">
            Loved by all developers
          </p>
        </div>
      </div>

      <!--Card 3-->

      <div
        class="lg:row-start-1 lg:row-end-4 m-2 cursor-pointer border border-gray-400 bg-white rounded-lg hover:shadow-md hover:bg-amber-200 hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200"
      >
        <div class="m-3">
          <h2 class="text-lg mb-2">
            <mat-icon>grid_view</mat-icon>
          </h2>
          <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">
            Ability to manage your projects from anywhere
          </p>
        </div>
      </div>

      <!--Card 4-->

      <div
        class="lg:row-end-3 lg:row-span-2 m-2 cursor-pointer border border-gray-400 bg-white rounded-lg hover:shadow-md hover:bg-amber-200 hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200"
      >
        <div class="m-3">
          <h2 class="text-lg mb-2">
            <mat-icon>favorite</mat-icon>
          </h2>
          <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">
            Created powered by coffee and love :3
          </p>
        </div>
      </div>

      <!--Card 5-->

      <div
        class="lg:row-start-2 lg:row-span-2 m-2 cursor-pointer border border-gray-400 bg-white rounded-lg hover:shadow-md hover:bg-amber-200 hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200"
      >
        <div class="m-3">
          <h2 class="text-lg mb-2">
            <mat-icon>settings</mat-icon>
          </h2>
          <p class="font-light font-mono text-sm text-gray-700 hover:text-gray-900 transition-all duration-200">
            Flexible for any customization
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
