.boards-roating-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.boards-roating-btn {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.boards-roating-btn-icon {
  font-size: 18px;
}
