<div class="bord-details__container" *ngIf="(board | async) as boardData">
  <div class="board-details__top">
    <div class="board-details__buttons">
      <button (click)="goToBoards()" mat-raised-button color="primary" class="boards-page-btn">Back to boards</button>
      <button (click)="goToHome()" mat-raised-button color="primary" class="main-page-btn">Home</button>
      <button (click)="openAddColumnModal()" mat-raised-button color="primary" class="add-column-btn">Add column
        <mat-icon class="add-column-btn-icon">view_column</mat-icon>
      </button>
    </div>

    <div class="board-details__about">
      <p class="bord-details__title board-text">{{boardData.title}}</p>
      <p class="bord-details__description board-text">{{boardData.description}}</p>
    </div>
  </div>

  <div *ngIf="(columns$ | async) as columns" cdkDropList cdkDropListOrientation="horizontal" class="columns__container"
    (cdkDropListDropped)="dropColumns($event)">
    <app-column cdkDrag *ngFor="let column of columns;" [column]="column" [boardId]="boardData.id">
    </app-column>
  </div>
</div>
