<header class="flex-grow-0 flex-shrink-0">
  <mat-toolbar>
    <div class="container mx-auto flex flex-row justify-between">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon *ngIf="!sidenavService.active">menu</mat-icon>
        <mat-icon *ngIf="sidenavService.active">close</mat-icon>
      </button>
      <div>
        <p>Что-то будет здесь...</p>
      </div>
      <div>
        <input type="text"/> тут фильтр по задачам
      </div>
      <div>
        Информация о пользователе
      </div>
    </div>
  </mat-toolbar>
</header>

