<div class="flex justify-between items-center mb-6">
  <div class="flex items-start flex-col gap-3">
    <div class="flex flex-row">
      <div class="flex items-center h-5">
        <mat-checkbox id="terms" color="primary" required="false">
          <div class="ml-3 text-sm">
            <label for="terms" class="font-light text-black">
              <span class="font-medium text-primary-600 hover:underline text-black">Remember me</span></label
            >
          </div>
        </mat-checkbox>
      </div>
    </div>
  </div>
  <a
    href="#!"
    class="text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 duration-200 transition ease-in-out"
    >Forgot password?</a
  >
</div>
