<div class="column__container">
  <div class="column__about">
    <div class="column__title-container">
      <p class="column__title">1</p>
      <button class="column-edit-btn">
        <mat-icon class="column-tool-icon">mode_edit</mat-icon>
      </button>
    </div>
    <button class="column-delete-btn">
      <mat-icon class="column-tool-icon">delete</mat-icon>
    </button>
  </div>

  <div class="tasks__container"></div>

  <button mat-raised-button color="accent" class="create-task-btn">Create task
    <mat-icon class="create-task-btn-icon">add_task</mat-icon>
  </button>
</div>
