@use '@angular/material/theming' as mat;

.dark-theme {
  color: mat.$light-primary-text;
  $dark-primary: mat.mat-palette(mat.$mat-teal, 500, 100, 900);
  $dark-accent: mat.mat-palette(mat.$mat-pink, A200, A100, A400);
  $dark-warn: mat.mat-palette(mat.$mat-red);
  $dark-theme: mat.mat-dark-theme($dark-primary, $dark-accent, $dark-warn);


  a,
  span,
  div,
  h2 {
    color: #dfe6e9;
  }

  .board-list {
    color: #2ee536 !important;
  }

  .text {
    color: white;
    &:hover {
      color: rgb(0, 0, 0);
    }
  }

  .board-list__title {
    color: white;
  }

  input {
    color: #000;
  }

  strong {
    color: rgba(255, 0, 0, 0.65);
  }

  label,
  i {
    color: black;
  }

  .info {
    color: black;
  }

  .someClass {
    background: rgba(0, 0, 0, 0.25);
    &:hover {
      background: rgba(250, 233, 215, 0.5);
    }
  }

  @include mat.all-component-colors($dark-theme);
}
