@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@syncfusion/ej2-angular-navigations/styles/material.css';
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

html,
body {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  height: 100%;
  padding: 0;
  margin: 0;
}
