<div (click)="openEditTaskModal()" class="task__info-container">
  <div class="task__top-container">
    <p class="task__title">{{task.title}}</p>
    <button (click)="openDeleteTaskModal()" class="column-delete-btn">
      <mat-icon class="column-tool-icon">delete</mat-icon>
    </button>
  </div>
  <p class="task__desc">{{task.description}}</p>
  <div class="task__user-container">
    <mat-icon class="task__user-icon">account_circle</mat-icon>
    <ng-container *ngIf="(taskUserInfo$ | async) as taskUserInfo">
      <p class="task__user">{{taskUserInfo.name}}</p>
    </ng-container>
  </div>
</div>
