<div class="container px-5 py-24 mx-auto text-center">
  <div class="flex flex-col justify-center align-middle items-center">
    <p class="font-sans font-bold text-5xl max-w-2xl leading-tight">Our team</p>
    <p class="font-sans font-bold text-2xl leading-tight max-w-4xl">
      A little about each member of the development team below, but now in general terms. We are a team of enthusiasts
      who love their work from the first line to the final debugging. Our project is a project made with a soul for
      maximum user convenience.
    </p>

    <app-card class="mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"></app-card>
  </div>
</div>
