<div class="flex flex-col items-center text-center">
  <h3>Our Team</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dicta dolor dolore laudantium numquam odit
    temporibus vero. Architecto atque dolores eaque et, explicabo laudantium minus modi optio quae quo rem.
    temporibus vero. Architecto atque dolores eaque et, explicabo laudantium minus modi optio quae quo rem.Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Adipisci dicta dolor dolore laudantium numquam odit
    temporibus vero. Architecto atque dolores eaque et, explicabo laudantium minus modi optio quae quo rem.
    temporibus vero. Architecto atque dolores eaque et, explicabo laudantium minus modi optio quae quo rem.Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Adipisci dicta dolor dolore laudantium numquam odit
    temporibus vero. Architecto atque dolores eaque et, explicabo laudantium minus modi optio quae quo rem.
    temporibus vero. Architecto atque dolores eaque et, explicabo laudantium minus modi optio quae quo rem.</p>
</div>
