<div class="container mx-auto min-w-screen min-h-screen flex items-center justify-center px-5 py-5">
  <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width: 1000px">
    <div class="md:flex w-full">
      <div class="hidden md:block w-1/2 bg-indigo-500 py-10 px-10">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          alt="authentication"
        />
      </div>
      <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
        <div class="text-center mb-10">
          <h1 class="font-bold text-3xl text-gray-900">REGISTER</h1>
          <p class="info">Enter your information to register</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="flex -mx-3">
            <div class="w-full flex flex-col gap-3 px-3 mb-5">
              <label for="name" class="text-xs font-semibold px-1">Username</label>
              <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                  <i class="mdi mdi-account-outline text-gray-400 text-lg"></i>
                </div>
                <input
                  type="text"
                  id="name"
                  formControlName="name"
                  class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                  [ngClass]="{ 'border-red-600': f['name'].touched && f['name'].errors }"
                  placeholder="Type your name here..."
                />
              </div>
              <div *ngIf="f['name'].touched && f['name'].invalid" class="text-red-600">
                <strong *ngIf="f['name'].errors?.['required']">Username is required</strong>
                <strong *ngIf="f['name'].errors?.['minlength']">Username must be at least 3 characters</strong>
                <strong *ngIf="f['name'].errors?.['maxlength']">Username must not exceed 16 characters</strong>
              </div>
            </div>
          </div>

          <div class="flex -mx-3">
            <div class="w-full flex flex-col gap-3 px-3 mb-5">
              <label for="login" class="text-xs font-semibold px-1">Login</label>
              <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                  <i class="mdi mdi-account-outline text-gray-400 text-lg"></i>
                </div>
                <input
                  type="email"
                  id="login"
                  formControlName="login"
                  class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                  [ngClass]="{ 'border-red-600': f['login'].touched && f['login'].errors }"
                  placeholder="Type your login here..."
                />
              </div>
              <div *ngIf="f['login'].touched && f['login'].invalid" class="text-red-600 err">
                <strong *ngIf="f['login'].errors?.['required']">Login is required</strong>
                <strong *ngIf="f['login'].errors?.['minlength']">Login must be at least 3 characters</strong>
                <strong *ngIf="f['login'].errors?.['maxlength']">Login must not exceed 16 characters</strong>
              </div>
            </div>
          </div>

          <div class="flex -mx-3">
            <div class="w-full flex flex-col gap-3 px-3 mb-12">
              <label for="password" class="text-xs font-semibold px-1">Password</label>
              <div class="grid grid-cols-[0fr_1fr_10px] gap-0 items-center place-content-center">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                  <i class="mdi mdi-lock-outline text-gray-400 text-lg"></i>
                </div>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  id="password"
                  formControlName="password"
                  [ngClass]="{ 'border-red-600': f['password'].touched && f['password'].errors }"
                  class="w-full -ml-10 pl-10 pr-3 py-2 rounded-bl-lg rounded-tl-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                  placeholder="************"
                />
                <div
                  class="flex items-center -ml-10 inline-grid border border-2 border-indigo-500outline-none text-center h-full rounded-br-lg rounded-tr-lg"
                >
                  <span class="w-full">
                    <i
                      class="fa fa-eye-slash"
                      [ngClass]="{
                        'fa-eye-slash': !showPassword,
                        'fa-eye': showPassword
                      }"
                      (click)="showPassword = !showPassword"
                    ></i>
                  </span>
                </div>
              </div>
              <div *ngIf="f['password'].touched && f['password'].dirty" class="text-red-600 err">
                <strong *ngIf="f['password'].errors?.['required']">Password is required</strong>
                <strong *ngIf="f['password'].errors?.['minlength']">Password must be at least 3 characters</strong>
                <strong *ngIf="f['password'].errors?.['maxlength']">Password must not exceed 16 characters</strong>
                <strong *ngIf="f['password'].errors?.['pattern']">
                  Password is not valid. Minimum one uppercase letter, one lowercase letter, one number and one special
                  character.
                </strong>
              </div>
            </div>
          </div>

          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <button
                [disabled]="form.invalid"
                class="block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-indigo-700 disabled:bg-gray-400 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold"
              >
                {{ 'Register now' | titlecase }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
